/* Rio.css hecho por Peter Lelis*/

body{
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header h1{
    font-size: 80px;
    color: aliceblue;
    letter-spacing: 50%;
    text-align: center;
    margin: 1%;
}

picture img{
    height: 550px;
    width: 50%;
}

