/*Ouro.css Hecho por PeterLelis*/

body{
    background-image: url(../Imágenes/rio-amazonas.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    font-size: 80px;
    letter-spacing: 60%;
    text-align: center;
    line-height: 80px;
    color: aliceblue;
}

h2{
    font-size: 40px;
    letter-spacing: 50%;
    text-align:center;
    color: rgb(175, 133, 27);
}

img{
    width: 800px;
    height: auto;
    float: left;
    padding: 2%;
}

p {
    text-align: justify;
    padding: 2% 0 0 4%;
    font-size: 20px;
    color: gray;
    padding-right: 2%;
}

.enlaces{
    text-align: right;
    display: inline;
}